$primary-color: #ef5544;
$primary-color-light: #ef6554;

$page-background: #fff;

$topbar-background: #333;
$topbar-color: #fff;

$menu-background: #565656;
$menu-color: #eee;
$menu-header-color: rgba(150, 150, 150, 0.6);
$menu-header-shadow: rgba(155, 155, 155, 0.5);
$menu-icon-color: $primary-color-light;
$menu-hover-background: $primary-color-light;
$menu-hover-color: $menu-color;
$menu-hover-icon-color: $menu-color;
$menu-active-background: $primary-color;
$menu-active-color: $menu-color;
$menu-active-icon-color: $menu-color;
$menu-arrow-background: $page-background;

$editable-cursor-color: $primary-color;
$editable-header-plus-background: $primary-color;
$editable-header-plus-background-hover: $primary-color-light;
$editable-header-plus-color: #fff;

$editable-cell-hover-background: #efefef;

//$editable-border: solid 1px rgba(100,100,100,0.2) !default;
$editable-border: none;
$editable-border-active: #44e !default; // Not used anymore
$editable-header-background: #eee !default;
$editable-header-plus-background: #eef !default;
$editable-header-plus-background-hover: #fff !default;
$editable-header-plus-color: #000 !default;
$editable-cursor-color: #44e !default;

$editable-cell-selected: #ccf !default;
$editable-cell-background: transparent !default;
$editable-cell-hover-background: #efefef !default;
$editable-cell-hover-color: #000 !default;

.editable {
  position: relative;

  .table-container {
    width: 100%;
    //position:absolute;
    overflow: auto;
  }

  .actions {
    // Action buttons (Save, undo, delete selected)
    margin: 10px 0;
  }

  table {
    width: 100%;
    //*border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0;
  }

  table .header {
    text-align: center;
    cursor: default;
    background: $editable-header-background;
    color: #333;
  }

  table .header:first-child {
    width: 40px !important;
    max-width: 40px;
  }

  table .header.plus {
    cursor: pointer;
    font-weight: bold;
    background: $editable-header-plus-background;
    color: $editable-header-plus-color;
  }

  table .header.plus:hover {
    background: $editable-header-plus-background-hover;
    color: $editable-header-plus-color;
  }

  table thead,
  table tbody,
  table tfoot {
    display: flex;
    flex-flow: column;
    position: relative;
  }

  table thead,
  table tfoot {
    padding-right: 1.05em;
    z-index: 1;
  }

  table td,
  table th {
    //line-height:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    flex-grow: 1;
    border: $editable-border;
    height: 40px;
  }

  table thead > tr > th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  table tr {
    // Any TR
    display: flex;
    flex-flow: row;
    flex-shrink: 0;
  }

  table tbody {
    max-height: 50vh;
    overflow-y: scroll;
  }

  table tbody > tr > td {
    position: relative;
    margin: 0;
    padding: 0;
    outline: none;
    text-align: center;
    background: $editable-cell-background;
    border: $editable-border;
  }

  table .edit {
    line-height: 35px;
    padding: 0;
    outline: none;
    border: none;
    resize: none;
    text-align: inherit;
    width: 100%;
    background: transparent;
    margin: 0;
    font-weight: inherit;
  }

  table .edit::placeholder {
    opacity: 0.2;
    font-weight: normal;
  }

  /* table .edit:focus {
	border: solid 2px $editable-cursor-color;
} */
  table .edit[readonly]::selection {
    // firefox cursor hack , select all on focus

    /* background: transparent;
		user-select:none;
    color: inherit; */
  }

  table tr.modified > td {
    font-weight: bold;
  }

  table tr.modified > td.header::before {
    content: "*";
  }

  table tr.modified > td:not(.header) {
    background: rgba(155, 180, 155, 0.1);
  }

  // Not editable
  table:not(.editable) > tbody > tr {
    cursor: pointer;
  }

  table:not(.editable) > tbody > tr:hover {
    background: $editable-cell-hover-background;
  }

  table:not(.editable) > tbody > tr > td > .edit {
    pointer-events: none;
  }

  //Editable
  table.editable tr > td:hover {
    background: $editable-cell-hover-background;
    color: $editable-cell-hover-color;
  }

  table.editable > tbody > tr > td.selected {
    background: $editable-cell-selected;
  }

  // Selection square
  #selection {
    box-sizing: border-box;
    display: none;
    position: absolute;
    border: solid 2px $editable-cursor-color;
    pointer-events: none;
    // Not implemented yet for cell duplication

    /* .handle {
		pointer-events:all;
		position:absolute;
		content:"&nbsp;";
		bottom:-4px;
		right:-4px;
		width:8px;
		height:8px;
		cursor:grab;
		background: $editable-cursor-color;
		border: solid 2x #F00;
	} */
  }

  #selection.active {
    display: block;
  }
}

/////////////////////
// Style
////////////////////
