#table2 .cursor {
  /* border: solid 2px rgba(255, 0, 0, 0.3); */
}

#table2:focus .cursor {
  border: solid 2px #f00;
}

/* headers */
#table2 table tfoot td,
#table2 table thead th {
  background: rgb(238, 238, 238);
}

/* header but not index bold */
#table2 table thead th {
  font-weight: bold;
}

#table2 .editor .input,
#table2 table tbody tr {
  font: 400 13px Arial, sans-serif;
}

#table2 table tbody tr > td > input,
#table2 table tbody tr > td {
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#table2 .editor .input {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

/*
#table2 table td,
#table2 table th {
  border-right: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
 */

#table2 table td:hover {
  background: rgba(150, 150, 150, 0.1);
}

#table2 table tr.modified > td {
  font-weight: bold;
  background: rgba(200, 200, 200, 0.2);
}

#table2 table tr.selected > td {
  background: rgba(230, 230, 255, 0.9);
}

#table2 table .indexes tr.modified td::before {
  content: "*";
}
