#table2 {
  position: relative;
}

#table2 .table-container {
  position: relative;
  flex: 1 0 100%;
  min-height: 400px; /* find better way for this */
  overflow: hidden;
}

/* scroll area */
#table2 table {
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  overflow: auto;
}

#table2 thead {
  display: flex;
  position: sticky;
  top: 0;
  min-width: min-content;
  min-width: -moz-min-content;
  z-index: 100;
}

/* corner */
#table2 thead .index {
  z-index: 200;
}

#table2 .header {
  z-index: 50;
}

#table2 tbody {
  display: flex;
  flex-flow: column;
}

#table2 table tr {
  display: flex;
  flex-flow: row;
  min-height: var(--row-height);
  flex: 1;
  min-width: min-content;
  min-width: -moz-min-content;
}

#table2 table thead tr {
  min-height: var(--header-height);
}

#table2 table td,
#table2 table th {
  position: relative;
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#table2 table thead th:not(.index),
#table2 table tbody td:not(.index) {
  min-width: 200px;
}

#table2 table .index {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: sticky;
  left: 0;
  min-width: var(--index-width);
  max-width: var(--index-width);
  width: var(--index-width);
}

#table2 table td.active::after {
  content: " ";
  z-index: 30;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 2px rgba(250, 0, 0, 0.2);
  pointer-events: none;
}

#table2 table:focus td.active::after {
  border: solid 2px #f00;
}

#table2 .editor {
  position: absolute;
  margin: 0;
  padding: 0;
  display: none;
  box-shadow: 0 4px 20px rgba(50, 50, 50, 0.3);
  z-index: 20;
}

#table2 .editor.editing {
  display: block;
}

/* Input thing */
#table2 .editor > .input {
  box-sizing: border-box;
  outline: none;
  background: transparent;
  resize: unset;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 0;
  margin: 0;
}

/* anything inside a td  (usually inputs) */
#table2 table tbody td > * {
  overflow: hidden;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  resize: unset;
  font-family: inherit;
  font-size: inherit;
  z-index: 20;
}

#table2 table tbody td > .readonly {
  pointer-events: none;
}
