#editable {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
}

/* scroll area */
#editable table {
  background: #fff;
  max-height: 100%;
  width: 100%;
  display: block;
  overflow: auto;
}

#editable tbody {
  display: flex;
  position: relative;
  flex-flow: column;
  min-width: min-content;
  min-width: -moz-min-content;
  min-width: -ms-min-content;
}

#editable table tbody .index {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: sticky;
  left: 0;
}

#editable table tbody tr {
  display: flex;
  min-width: min-content;
  min-width: -moz-min-content;
  min-width: -ms-min-content;
  width: 100%;
}

#editable table tbody tr.thead {
  position: sticky;
  top: 0;
  z-index: 100;
}

/* corner */
#editable table tbody tr.thead td.index {
  z-index: 200;
}

#editable table tbody tr td {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#editable table tbody tr td.header {
  z-index: 50;
}

#editable table tbody tr td:not(.index) {
  min-width: 100px;
}

#editable table tbody tr td.add {
  cursor: pointer;
  position: sticky;
  left: 0;
  bottom: 0;
  min-width: 40px;
  background: #f54;
  color: #fff;
}

#editable.editable table tbody tr td.active::before {
  content: " ";
  z-index: 30;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 2px rgba(250, 0, 0, 0.2);
  pointer-events: none;
}

#editable.editable table.editing tbody tr td.active::before,
#editable.editable table:focus tbody tr td.active::before {
  border: solid 2px #f00;
}

#editable.editable table.editing tbody tr td.active::before {
  box-shadow: 0 0 10px 2px rgba(50, 50, 50, 0.3);
}

/* anything inside a td  (usually inputs) */
#editable table tbody tr td > * {
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: transparent;
  margin: 0;
  padding: 0;
  resize: unset;
  font-family: inherit;
  font-size: inherit;
  z-index: 20;
  outline: none;
  color: inherit;
}

#editable table tbody tr td > .readonly {
  pointer-events: none;
}
