#editable {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#editable .table-container {
  display: flex;
  position: relative;
  flex: 1;
}

/* scroll area */
#editable table {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  display: block;
  overflow: auto;
}

#editable thead {
  display: flex;
  position: sticky;
  top: 0;
  min-width: min-content;
  min-width: -moz-min-content;
  z-index: 100;
}

/* corner */
#editable thead .index {
  z-index: 200;
}

#editable .header {
  z-index: 50;
}

#editable tbody {
  display: flex;
  flex-flow: column;
  min-width: min-content;
  min-width: -moz-min-content;
  min-width: -ms-min-content;
}

#editable table tr {
  display: flex;
  min-width: min-content;
  min-width: -moz-min-content;
  min-width: -ms-min-content;
  width: 100%;
}

#editable table td,
#editable table th {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#editable table thead th:not(.index),
#editable table tbody td:not(.index) {
  min-width: 200px;
}

#editable table .index {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: sticky;
  left: 0;
}

#editable.editable table td.active::before {
  content: " ";
  z-index: 30;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 2px rgba(250, 0, 0, 0.2);
  pointer-events: none;
}

#editable.editable table:focus td.active::before {
  border: solid 2px #f00;
}

#editable.editable .editor {
  position: absolute;
  margin: 0;
  padding: 0;
  display: none;
  box-shadow: 0 4px 20px rgba(50, 50, 50, 0.3);
  z-index: 20;
}

#editable.editable .editor.editing {
  display: block;
}

/* Input thing */
#editable .editor > .input {
  box-sizing: border-box;
  outline: none;
  background: transparent;
  resize: unset;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  padding: 0;
  margin: 0;
}

/* anything inside a td  (usually inputs) */
#editable table tbody td > * {
  overflow: hidden;
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  resize: unset;
  font-family: inherit;
  font-size: inherit;
  z-index: 20;
}

#editable table tbody td > .readonly {
  pointer-events: none;
}
