#editable .header {
  background: #f1f1f1;
}

#editable .actions {
  margin: 10px 0;
}

/*
#editable table th,
#editable table td {
  border-right: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}*/

/* headers */
#editable table {
  outline: none;
}

#editable table tr {
  min-height: 40px;
  font: 400 15px Arial, sans-serif;
  color: #444;
}

#editable table tr td.add,
#editable table tr td.index {
  box-sizing: border-box;
  width: 40px;
  max-width: 40px;
}

#editable table tr > td > input,
#editable table tr > td {
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#editable table tr.thead td {
  font-weight: bold;
  overflow: hidden;
}

#editable:not(.editable) table tr:hover {
  background: rgba(150, 150, 150, 0.1);
}

#editable.editable table tr td:hover::after {
  pointer-events: none;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(150, 150, 150, 0.1);
}

#editable table tr.modified {
  font-weight: bold;
  background: #f9f9f9;
}

#editable table tr.selected > td {
  background: #ccf;
}

#editable table tr.modified td.index::before {
  content: "*";
}
